Author: Dan Shea  
Date: 2019.09.26  
#### Examining heterozygous maintained loci within NAM populations
We wish to examine if there exist any loci within a population that show a maintenance of heterozygosity.

In [1]:
import pandas as pd
from scipy import stats
import numpy as np
from statsmodels.stats import multitest
import os
import os.path
from collections import OrderedDict

In [2]:
samples = ['N01','N03','N04','N05','N06','N07','N08','N09','N10','N11',
           'N12','N13','N14','N16','N17','N18','N19','N20','N21','N22',]
founders = ['KASALATH','KEIBOBA','SHONI','TUPA_121-3','SURJAMUKHI','RATUL','BADARI_DHAN','KALUHEENATI','JAGUARY','REXMONT',
            'URASAN','TUPA_729','DEE_JIAO_HUA_LUO','NERICA_1','TAKANARI','C8005','MOUKOTOU','NORTAI','SESIA','HAYAYUKI',]
datadirs = ['_'.join([x, y]) for x, y in zip(samples, founders)]

In [3]:
genotype_files = [os.path.join('beagle_output', x, y+'_genotypes.tsv') for x, y in zip(datadirs, samples)]

In [4]:
genotype_files

['beagle_output/N01_KASALATH/N01_genotypes.tsv',
 'beagle_output/N03_KEIBOBA/N03_genotypes.tsv',
 'beagle_output/N04_SHONI/N04_genotypes.tsv',
 'beagle_output/N05_TUPA_121-3/N05_genotypes.tsv',
 'beagle_output/N06_SURJAMUKHI/N06_genotypes.tsv',
 'beagle_output/N07_RATUL/N07_genotypes.tsv',
 'beagle_output/N08_BADARI_DHAN/N08_genotypes.tsv',
 'beagle_output/N09_KALUHEENATI/N09_genotypes.tsv',
 'beagle_output/N10_JAGUARY/N10_genotypes.tsv',
 'beagle_output/N11_REXMONT/N11_genotypes.tsv',
 'beagle_output/N12_URASAN/N12_genotypes.tsv',
 'beagle_output/N13_TUPA_729/N13_genotypes.tsv',
 'beagle_output/N14_DEE_JIAO_HUA_LUO/N14_genotypes.tsv',
 'beagle_output/N16_NERICA_1/N16_genotypes.tsv',
 'beagle_output/N17_TAKANARI/N17_genotypes.tsv',
 'beagle_output/N18_C8005/N18_genotypes.tsv',
 'beagle_output/N19_MOUKOTOU/N19_genotypes.tsv',
 'beagle_output/N20_NORTAI/N20_genotypes.tsv',
 'beagle_output/N21_SESIA/N21_genotypes.tsv',
 'beagle_output/N22_HAYAYUKI/N22_genotypes.tsv']

In [5]:
genotype_dfs = OrderedDict()
for key, value in zip(samples, genotype_files):
    genotype_dfs[key] = pd.read_csv(value, sep='\t', index_col=0)

/home/dshea/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
for key in samples:
    print('Shape of {} is {}'.format(key, genotype_dfs[key].shape))

Shape of N01 is (1589147, 182)
Shape of N03 is (1488193, 88)
Shape of N04 is (1580242, 136)
Shape of N05 is (1518770, 213)
Shape of N06 is (1506778, 89)
Shape of N07 is (1598563, 75)
Shape of N08 is (1608080, 90)
Shape of N09 is (1449978, 258)
Shape of N10 is (340995, 157)
Shape of N11 is (554100, 198)
Shape of N12 is (447328, 152)
Shape of N13 is (875089, 98)
Shape of N14 is (1531882, 38)
Shape of N16 is (643367, 49)
Shape of N17 is (1417948, 150)
Shape of N18 is (1410024, 261)
Shape of N19 is (156503, 260)
Shape of N20 is (116146, 255)
Shape of N21 is (271679, 261)
Shape of N22 is (84543, 254)

In [7]:
count_dfs = OrderedDict()
for key in samples:
    def gt_counts(r):
        counts = {'A': 0,
                  'B': 0,
                  'H': 0,}
        for g in r[11:]:
            counts[g] += 1
        return counts
    count_dfs[key] = genotype_dfs[key].apply(gt_counts, axis=1)

In [8]:
# Convert into DataFrame
agg_dfs = OrderedDict()
for key in samples:
    agg_dfs[key] = pd.DataFrame({'A_count': count_dfs[key].apply(lambda x: x['A']),
                                 'B_count': count_dfs[key].apply(lambda x: x['B']),
                                 'H_count': count_dfs[key].apply(lambda x: x['H'])})

In [9]:
for key in samples:
    agg_dfs[key] = pd.concat([genotype_dfs[key], agg_dfs[key]], axis=1)

In [10]:
for key in samples:
    agg_dfs[key].to_csv('./conserved_genotypes/{}_aggregated_all_markers.tsv'.format(key), sep='\t', index=None)

In [40]:
# Where is a locus hetero for all samples in a founder
for key in samples:
    print('{}'.format(key))
    tmp = agg_dfs[key].loc[(agg_dfs[key].A_count == 0) & (agg_dfs[key].B_count == 0), :]
    tmp.to_csv('./conserved_genotypes/Only_heterzygous_{}.tsv'.format(key), sep='\t', index=None)
    display(tmp)

N01

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N01_KASALATH, N01_001, N01_002, N01_003, N01_004, N01_005, N01_006, N01_007, N01_008, N01_009, N01_010, N01_011, N01_012, N01_013, N01_014, N01_015, N01_016, N01_017, N01_018, N01_019, N01_020, N01_021, N01_022, N01_023, N01_024, N01_025, N01_026, N01_027, N01_028, N01_029, N01_030, N01_031, N01_032, N01_033, N01_034, N01_035, N01_036, N01_037, N01_038, N01_039, N01_040, N01_041, N01_042, N01_043, N01_044, N01_045, N01_046, N01_047, N01_048, N01_049, N01_050, N01_051, N01_052, N01_053, N01_054, N01_055, N01_056, N01_057, N01_058, N01_059, N01_060, N01_061, N01_062, N01_063, N01_064, N01_065, N01_066, N01_067, N01_068, N01_069, N01_070, N01_071, N01_072, N01_073, N01_074, N01_075, N01_076, N01_077, N01_078, N01_079, N01_080, N01_081, N01_082, N01_083, N01_084, N01_085, N01_086, N01_087, N01_088, N01_089, ...]
Index: []

[0 rows x 185 columns]

N03

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N03_KEIBOBA, N03_001, N03_002, N03_003, N03_004, N03_005, N03_006, N03_008, N03_009, N03_010, N03_011, N03_012, N03_013, N03_014, N03_015, N03_016, N03_017, N03_018, N03_019, N03_020, N03_021, N03_023, N03_024, N03_025, N03_026, N03_027, N03_028, N03_029, N03_030, N03_031, N03_032, N03_033, N03_034, N03_035, N03_036, N03_037, N03_038, N03_039, N03_040, N03_041, N03_042, N03_043, N03_044, N03_045, N03_046, N03_047, N03_048, N03_049, N03_050, N03_051, N03_052, N03_053, N03_054, N03_055, N03_056, N03_057, N03_058, N03_059, N03_060, N03_061, N03_062, N03_063, N03_064, N03_065, N03_066, N03_067, N03_068, N03_069, N03_070, N03_071, N03_072, N03_073, N03_074, N03_076, N03_077, N03_078, N03_079, N03_080, A_count, B_count, H_count]
Index: []

[0 rows x 91 columns]

N04

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N04_SHONI, N04_001, N04_002, N04_003, N04_004, N04_005, N04_006, N04_007, N04_008, N04_009, N04_010, N04_011, N04_012, N04_013, N04_014, N04_015, N04_016, N04_017, N04_018, N04_019, N04_020, N04_021, N04_022, N04_023, N04_024, N04_025, N04_026, N04_027, N04_028, N04_029, N04_030, N04_031, N04_032, N04_033, N04_034, N04_035, N04_036, N04_037, N04_038, N04_039, N04_040, N04_041, N04_042, N04_043, N04_044, N04_045, N04_046, N04_047, N04_048, N04_049, N04_050, N04_051, N04_052, N04_053, N04_054, N04_055, N04_056, N04_057, N04_058, N04_059, N04_060, N04_061, N04_062, N04_063, N04_064, N04_065, N04_066, N04_067, N04_068, N04_069, N04_070, N04_071, N04_072, N04_073, N04_074, N04_075, N04_076, N04_077, N04_078, N04_079, N04_080, N04_081, N04_082, N04_083, N04_084, N04_085, N04_086, N04_087, N04_088, N04_089, ...]
Index: []

[0 rows x 139 columns]

N05

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N05_TUPA121-3, N05_001, N05_002, N05_003, N05_004, N05_005, N05_006, N05_007, N05_008, N05_009, N05_010, N05_011, N05_012, N05_013, N05_014, N05_015, N05_016, N05_017, N05_018, N05_019, N05_020, N05_021, N05_022, N05_023, N05_024, N05_025, N05_026, N05_027, N05_028, N05_029, N05_030, N05_031, N05_032, N05_033, N05_034, N05_035, N05_036, N05_037, N05_038, N05_039, N05_040, N05_041, N05_042, N05_043, N05_044, N05_045, N05_046, N05_047, N05_048, N05_049, N05_050, N05_051, N05_052, N05_053, N05_054, N05_055, N05_056, N05_057, N05_058, N05_059, N05_060, N05_061, N05_062, N05_063, N05_064, N05_065, N05_066, N05_067, N05_068, N05_069, N05_070, N05_071, N05_072, N05_073, N05_074, N05_075, N05_076, N05_077, N05_078, N05_079, N05_080, N05_081, N05_082, N05_083, N05_084, N05_085, N05_086, N05_087, N05_088, N05_089, ...]
Index: []

[0 rows x 216 columns]

N06

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N06_SURJAMUKHI, N06_001, N06_002, N06_003, N06_004, N06_005, N06_006, N06_007, N06_008, N06_009, N06_010, N06_011, N06_012, N06_013, N06_014, N06_015, N06_016, N06_017, N06_018, N06_019, N06_020, N06_021, N06_022, N06_023, N06_024, N06_025, N06_026, N06_027, N06_028, N06_029, N06_030, N06_031, N06_032, N06_033, N06_034, N06_035, N06_036, N06_037, N06_038, N06_039, N06_040, N06_041, N06_042, N06_043, N06_044, N06_045, N06_046, N06_047, N06_048, N06_049, N06_050, N06_051, N06_052, N06_053, N06_054, N06_055, N06_056, N06_057, N06_058, N06_059, N06_060, N06_061, N06_062, N06_063, N06_064, N06_065, N06_066, N06_067, N06_068, N06_069, N06_070, N06_071, N06_072, N06_073, N06_074, N06_075, N06_076, N06_077, N06_078, A_count, B_count, H_count]
Index: []

[0 rows x 92 columns]

N07

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N07_RATUL, N07_001, N07_002, N07_003, N07_004, N07_005, N07_006, N07_007, N07_008, N07_009, N07_010, N07_011, N07_012, N07_013, N07_014, N07_015, N07_016, N07_017, N07_018, N07_019, N07_020, N07_021, N07_022, N07_023, N07_024, N07_025, N07_026, N07_027, N07_028, N07_029, N07_030, N07_031, N07_032, N07_033, N07_034, N07_035, N07_036, N07_037, N07_038, N07_039, N07_040, N07_041, N07_042, N07_043, N07_044, N07_045, N07_046, N07_047, N07_048, N07_049, N07_050, N07_051, N07_052, N07_053, N07_054, N07_055, N07_056, N07_057, N07_058, N07_059, N07_060, N07_061, N07_062, N07_063, N07_064, A_count, B_count, H_count]
Index: []

[0 rows x 78 columns]

N08

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N08_BADARI_DHAN, N08_001, N08_002, N08_003, N08_004, N08_005, N08_006, N08_007, N08_008, N08_009, N08_010, N08_011, N08_012, N08_013, N08_014, N08_015, N08_016, N08_017, N08_018, N08_019, N08_020, N08_021, N08_022, N08_023, N08_024, N08_025, N08_026, N08_027, N08_028, N08_029, N08_030, N08_031, N08_032, N08_033, N08_034, N08_035, N08_036, N08_037, N08_038, N08_039, N08_040, N08_041, N08_043, N08_044, N08_045, N08_046, N08_047, N08_048, N08_049, N08_050, N08_051, N08_052, N08_053, N08_054, N08_055, N08_056, N08_057, N08_058, N08_059, N08_061, N08_062, N08_063, N08_064, N08_065, N08_066, N08_067, N08_068, N08_069, N08_071, N08_072, N08_073, N08_074, N08_075, N08_078, N08_079, N08_082, N08_083, N08_084, N08_085, N08_086, A_count, B_count, H_count]
Index: []

[0 rows x 93 columns]

N09

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N09_KALUHEENATI, N09_001, N09_002, N09_003, N09_004, N09_005, N09_006, N09_007, N09_008, N09_009, N09_010, N09_011, N09_012, N09_013, N09_014, N09_015, N09_016, N09_017, N09_018, N09_019, N09_020, N09_021, N09_022, N09_023, N09_025, N09_026, N09_027, N09_028, N09_029, N09_030, N09_031, N09_032, N09_033, N09_034, N09_035, N09_036, N09_037, N09_038, N09_039, N09_040, N09_041, N09_042, N09_043, N09_044, N09_045, N09_046, N09_047, N09_048, N09_049, N09_050, N09_051, N09_052, N09_053, N09_054, N09_055, N09_056, N09_057, N09_058, N09_059, N09_060, N09_061, N09_062, N09_063, N09_064, N09_065, N09_066, N09_067, N09_068, N09_069, N09_070, N09_071, N09_072, N09_073, N09_074, N09_075, N09_076, N09_077, N09_078, N09_079, N09_080, N09_081, N09_082, N09_083, N09_084, N09_085, N09_086, N09_087, N09_088, N09_090, N09_091, ...]
Index: []

[0 rows x 261 columns]

N10

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N10_JAGUARY, N10_001, N10_002, N10_003, N10_004, N10_005, N10_006, N10_007, N10_008, N10_009, N10_010, N10_011, N10_012, N10_013, N10_014, N10_015, N10_016, N10_017, N10_018, N10_019, N10_020, N10_021, N10_022, N10_023, N10_024, N10_025, N10_026, N10_027, N10_028, N10_029, N10_030, N10_031, N10_032, N10_033, N10_034, N10_035, N10_036, N10_037, N10_038, N10_039, N10_040, N10_041, N10_042, N10_043, N10_044, N10_045, N10_046, N10_047, N10_048, N10_049, N10_050, N10_051, N10_052, N10_053, N10_054, N10_055, N10_056, N10_057, N10_058, N10_059, N10_060, N10_061, N10_062, N10_063, N10_064, N10_065, N10_066, N10_067, N10_068, N10_069, N10_070, N10_071, N10_072, N10_073, N10_074, N10_075, N10_076, N10_077, N10_078, N10_079, N10_080, N10_081, N10_082, N10_083, N10_084, N10_085, N10_086, N10_087, N10_088, N10_089, ...]
Index: []

[0 rows x 160 columns]

N11

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N11_REXMONT, N11_001, N11_002, N11_003, N11_004, N11_005, N11_006, N11_007, N11_008, N11_009, N11_010, N11_011, N11_012, N11_013, N11_014, N11_015, N11_016, N11_017, N11_018, N11_019, N11_020, N11_021, N11_022, N11_023, N11_024, N11_025, N11_026, N11_027, N11_028, N11_029, N11_030, N11_031, N11_032, N11_033, N11_034, N11_035, N11_036, N11_037, N11_038, N11_039, N11_040, N11_041, N11_042, N11_043, N11_044, N11_045, N11_046, N11_047, N11_048, N11_049, N11_050, N11_051, N11_052, N11_053, N11_054, N11_055, N11_056, N11_057, N11_058, N11_059, N11_060, N11_061, N11_062, N11_063, N11_064, N11_065, N11_066, N11_067, N11_068, N11_069, N11_070, N11_071, N11_072, N11_073, N11_074, N11_075, N11_076, N11_077, N11_078, N11_079, N11_080, N11_081, N11_082, N11_083, N11_084, N11_085, N11_086, N11_087, N11_088, N11_089, ...]
Index: []

[0 rows x 201 columns]

N12

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N12_URASAN, N12_001, N12_002, N12_003, N12_004, N12_005, N12_006, N12_007, N12_008, N12_009, N12_010, N12_011, N12_012, N12_013, N12_014, N12_015, N12_016, N12_017, N12_018, N12_019, N12_020, N12_021, N12_022, N12_023, N12_024, N12_025, N12_026, N12_027, N12_028, N12_029, N12_031, N12_032, N12_034, N12_035, N12_036, N12_037, N12_038, N12_039, N12_040, N12_041, N12_042, N12_043, N12_045, N12_046, N12_047, N12_048, N12_049, N12_050, N12_051, N12_052, N12_053, N12_054, N12_055, N12_056, N12_057, N12_058, N12_059, N12_060, N12_061, N12_062, N12_063, N12_064, N12_065, N12_067, N12_068, N12_069, N12_071, N12_072, N12_073, N12_074, N12_075, N12_077, N12_078, N12_079, N12_080, N12_081, N12_082, N12_083, N12_084, N12_085, N12_086, N12_087, N12_088, N12_089, N12_090, N12_091, N12_092, N12_093, N12_094, N12_095, ...]
Index: []

[0 rows x 155 columns]

N13

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N13_TUPA729, N13_001, N13_002, N13_003, N13_004, N13_005, N13_006, N13_007, N13_008, N13_009, N13_010, N13_011, N13_012, N13_013, N13_014, N13_016, N13_017, N13_018, N13_019, N13_020, N13_021, N13_022, N13_023, N13_024, N13_025, N13_026, N13_027, N13_028, N13_029, N13_030, N13_031, N13_032, N13_033, N13_034, N13_035, N13_036, N13_037, N13_038, N13_039, N13_040, N13_041, N13_042, N13_043, N13_044, N13_045, N13_046, N13_047, N13_048, N13_049, N13_050, N13_051, N13_052, N13_053, N13_054, N13_055, N13_056, N13_057, N13_058, N13_059, N13_060, N13_061, N13_062, N13_063, N13_064, N13_065, N13_066, N13_067, N13_068, N13_069, N13_070, N13_071, N13_072, N13_073, N13_074, N13_075, N13_076, N13_077, N13_078, N13_079, N13_080, N13_081, N13_082, N13_083, N13_084, N13_085, N13_086, N13_087, N13_088, A_count, B_count, ...]
Index: []

[0 rows x 101 columns]

N14

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N14_DEEJIAOHUALUO, N14_001, N14_003, N14_004, N14_006, N14_007, N14_008, N14_009, N14_010, N14_011, N14_012, N14_013, N14_014, N14_015, N14_017, N14_018, N14_019, N14_020, N14_021, N14_022, N14_023, N14_024, N14_025, N14_026, N14_027, N14_028, N14_030, N14_031, A_count, B_count, H_count]
Index: []

[0 rows x 41 columns]

N16

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N16_NERICA1, N16_001, N16_002, N16_003, N16_004, N16_005, N16_006, N16_007, N16_008, N16_010, N16_011, N16_012, N16_013, N16_015, N16_016, N16_017, N16_018, N16_019, N16_020, N16_021, N16_022, N16_023, N16_024, N16_025, N16_026, N16_027, N16_029, N16_030, N16_031, N16_032, N16_033, N16_034, N16_035, N16_036, N16_037, N16_039, N16_040, N16_042, N16_044, A_count, B_count, H_count]
Index: []

[0 rows x 52 columns]

N17

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N17_TAKANARI, N17_001, N17_002, N17_003, N17_004, N17_005, N17_006, N17_007, N17_008, N17_009, N17_010, N17_011, N17_012, N17_013, N17_014, N17_015, N17_016, N17_017, N17_018, N17_019, N17_020, N17_021, N17_022, N17_023, N17_024, N17_025, N17_026, N17_027, N17_028, N17_029, N17_030, N17_031, N17_032, N17_033, N17_034, N17_035, N17_036, N17_037, N17_038, N17_039, N17_040, N17_041, N17_042, N17_043, N17_044, N17_045, N17_046, N17_047, N17_048, N17_049, N17_050, N17_051, N17_052, N17_053, N17_054, N17_055, N17_056, N17_057, N17_058, N17_059, N17_060, N17_061, N17_062, N17_063, N17_064, N17_065, N17_066, N17_067, N17_068, N17_069, N17_070, N17_071, N17_072, N17_073, N17_074, N17_075, N17_076, N17_077, N17_078, N17_079, N17_080, N17_081, N17_082, N17_083, N17_084, N17_085, N17_086, N17_087, N17_088, N17_089, ...]
Index: []

[0 rows x 153 columns]

N18

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N18_C8005, N18_001, N18_002, N18_003, N18_004, N18_005, N18_006, N18_007, N18_008, N18_009, N18_010, N18_011, N18_012, N18_013, N18_014, N18_015, N18_016, N18_017, N18_018, N18_019, N18_020, N18_021, N18_022, N18_023, N18_024, N18_025, N18_026, N18_027, N18_028, N18_029, N18_030, N18_031, N18_032, N18_033, N18_034, N18_035, N18_036, N18_037, N18_038, N18_039, N18_040, N18_041, N18_042, N18_043, N18_044, N18_045, N18_046, N18_047, N18_048, N18_049, N18_050, N18_051, N18_052, N18_053, N18_054, N18_055, N18_056, N18_057, N18_058, N18_059, N18_060, N18_061, N18_062, N18_063, N18_064, N18_065, N18_066, N18_067, N18_068, N18_069, N18_070, N18_071, N18_072, N18_073, N18_074, N18_075, N18_076, N18_077, N18_078, N18_079, N18_080, N18_081, N18_082, N18_083, N18_084, N18_085, N18_086, N18_087, N18_088, N18_089, ...]
Index: []

[0 rows x 264 columns]

N19

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N19_MOUKOTOU, N19_001, N19_002, N19_003, N19_005, N19_006, N19_007, N19_008, N19_009, N19_010, N19_011, N19_012, N19_013, N19_014, N19_015, N19_016, N19_017, N19_018, N19_019, N19_020, N19_021, N19_022, N19_023, N19_024, N19_025, N19_026, N19_027, N19_028, N19_029, N19_030, N19_031, N19_032, N19_033, N19_034, N19_035, N19_036, N19_037, N19_038, N19_039, N19_040, N19_041, N19_042, N19_043, N19_044, N19_045, N19_046, N19_047, N19_048, N19_049, N19_050, N19_051, N19_052, N19_053, N19_054, N19_055, N19_056, N19_057, N19_058, N19_059, N19_060, N19_061, N19_062, N19_063, N19_064, N19_065, N19_066, N19_067, N19_068, N19_069, N19_070, N19_071, N19_072, N19_073, N19_074, N19_075, N19_076, N19_077, N19_078, N19_079, N19_080, N19_081, N19_082, N19_083, N19_084, N19_085, N19_086, N19_087, N19_088, N19_089, N19_090, ...]
Index: []

[0 rows x 263 columns]

N20

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N20_NORTAI, N20_001, N20_002, N20_003, N20_004, N20_005, N20_006, N20_007, N20_008, N20_009, N20_010, N20_011, N20_012, N20_013, N20_014, N20_015, N20_016, N20_017, N20_018, N20_019, N20_020, N20_021, N20_022, N20_023, N20_024, N20_025, N20_026, N20_027, N20_028, N20_029, N20_030, N20_031, N20_032, N20_033, N20_034, N20_035, N20_036, N20_037, N20_038, N20_039, N20_040, N20_041, N20_042, N20_043, N20_044, N20_045, N20_046, N20_047, N20_048, N20_049, N20_050, N20_051, N20_052, N20_053, N20_054, N20_055, N20_056, N20_057, N20_058, N20_059, N20_060, N20_061, N20_062, N20_063, N20_064, N20_065, N20_066, N20_067, N20_068, N20_069, N20_070, N20_071, N20_072, N20_073, N20_074, N20_075, N20_076, N20_077, N20_078, N20_079, N20_080, N20_081, N20_082, N20_083, N20_084, N20_085, N20_086, N20_087, N20_088, N20_089, ...]
Index: []

[0 rows x 258 columns]

N21

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N21_SESIA, N21_001, N21_002, N21_003, N21_004, N21_005, N21_006, N21_007, N21_008, N21_009, N21_010, N21_011, N21_012, N21_013, N21_014, N21_015, N21_016, N21_017, N21_018, N21_019, N21_020, N21_021, N21_022, N21_023, N21_024, N21_025, N21_026, N21_027, N21_028, N21_029, N21_030, N21_031, N21_032, N21_033, N21_034, N21_035, N21_036, N21_037, N21_038, N21_039, N21_040, N21_041, N21_042, N21_043, N21_044, N21_045, N21_046, N21_047, N21_048, N21_049, N21_050, N21_051, N21_052, N21_053, N21_054, N21_055, N21_056, N21_057, N21_058, N21_059, N21_060, N21_061, N21_062, N21_063, N21_064, N21_065, N21_066, N21_067, N21_068, N21_069, N21_070, N21_071, N21_072, N21_073, N21_074, N21_075, N21_076, N21_077, N21_078, N21_079, N21_080, N21_081, N21_082, N21_083, N21_084, N21_085, N21_086, N21_087, N21_088, N21_089, ...]
Index: []

[0 rows x 264 columns]

N22

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N22_HAYAYUKI, N22_001, N22_002, N22_003, N22_004, N22_005, N22_006, N22_007, N22_008, N22_009, N22_010, N22_011, N22_012, N22_013, N22_014, N22_015, N22_016, N22_017, N22_018, N22_019, N22_020, N22_021, N22_022, N22_023, N22_024, N22_025, N22_026, N22_027, N22_028, N22_029, N22_030, N22_031, N22_032, N22_033, N22_034, N22_035, N22_036, N22_037, N22_038, N22_039, N22_040, N22_041, N22_043, N22_044, N22_045, N22_046, N22_047, N22_048, N22_049, N22_050, N22_051, N22_052, N22_053, N22_054, N22_056, N22_057, N22_058, N22_059, N22_060, N22_061, N22_062, N22_063, N22_064, N22_065, N22_066, N22_067, N22_068, N22_070, N22_071, N22_072, N22_073, N22_074, N22_075, N22_076, N22_077, N22_078, N22_079, N22_080, N22_081, N22_082, N22_083, N22_084, N22_085, N22_086, N22_087, N22_088, N22_089, N22_090, N22_091, N22_092, ...]
Index: []

[0 rows x 257 columns]

In [41]:
# Where is a locus homo for Hitomebore for all samples in a founder
for key in samples:
    print('{}'.format(key))
    tmp = agg_dfs[key].loc[(agg_dfs[key].B_count == 0) & (agg_dfs[key].H_count == 0), :]
    tmp.to_csv('./conserved_genotypes/Only_hitomebore_{}.tsv'.format(key), sep='\t', index=None)
    display(tmp)

N01

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N01_KASALATH, N01_001, N01_002, N01_003, N01_004, N01_005, N01_006, N01_007, N01_008, N01_009, N01_010, N01_011, N01_012, N01_013, N01_014, N01_015, N01_016, N01_017, N01_018, N01_019, N01_020, N01_021, N01_022, N01_023, N01_024, N01_025, N01_026, N01_027, N01_028, N01_029, N01_030, N01_031, N01_032, N01_033, N01_034, N01_035, N01_036, N01_037, N01_038, N01_039, N01_040, N01_041, N01_042, N01_043, N01_044, N01_045, N01_046, N01_047, N01_048, N01_049, N01_050, N01_051, N01_052, N01_053, N01_054, N01_055, N01_056, N01_057, N01_058, N01_059, N01_060, N01_061, N01_062, N01_063, N01_064, N01_065, N01_066, N01_067, N01_068, N01_069, N01_070, N01_071, N01_072, N01_073, N01_074, N01_075, N01_076, N01_077, N01_078, N01_079, N01_080, N01_081, N01_082, N01_083, N01_084, N01_085, N01_086, N01_087, N01_088, N01_089, ...]
Index: []

[0 rows x 185 columns]

N03

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N03_KEIBOBA, N03_001, N03_002, N03_003, N03_004, N03_005, N03_006, N03_008, N03_009, N03_010, N03_011, N03_012, N03_013, N03_014, N03_015, N03_016, N03_017, N03_018, N03_019, N03_020, N03_021, N03_023, N03_024, N03_025, N03_026, N03_027, N03_028, N03_029, N03_030, N03_031, N03_032, N03_033, N03_034, N03_035, N03_036, N03_037, N03_038, N03_039, N03_040, N03_041, N03_042, N03_043, N03_044, N03_045, N03_046, N03_047, N03_048, N03_049, N03_050, N03_051, N03_052, N03_053, N03_054, N03_055, N03_056, N03_057, N03_058, N03_059, N03_060, N03_061, N03_062, N03_063, N03_064, N03_065, N03_066, N03_067, N03_068, N03_069, N03_070, N03_071, N03_072, N03_073, N03_074, N03_076, N03_077, N03_078, N03_079, N03_080, A_count, B_count, H_count]
Index: []

[0 rows x 91 columns]

N04

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N04_SHONI, N04_001, N04_002, N04_003, N04_004, N04_005, N04_006, N04_007, N04_008, N04_009, N04_010, N04_011, N04_012, N04_013, N04_014, N04_015, N04_016, N04_017, N04_018, N04_019, N04_020, N04_021, N04_022, N04_023, N04_024, N04_025, N04_026, N04_027, N04_028, N04_029, N04_030, N04_031, N04_032, N04_033, N04_034, N04_035, N04_036, N04_037, N04_038, N04_039, N04_040, N04_041, N04_042, N04_043, N04_044, N04_045, N04_046, N04_047, N04_048, N04_049, N04_050, N04_051, N04_052, N04_053, N04_054, N04_055, N04_056, N04_057, N04_058, N04_059, N04_060, N04_061, N04_062, N04_063, N04_064, N04_065, N04_066, N04_067, N04_068, N04_069, N04_070, N04_071, N04_072, N04_073, N04_074, N04_075, N04_076, N04_077, N04_078, N04_079, N04_080, N04_081, N04_082, N04_083, N04_084, N04_085, N04_086, N04_087, N04_088, N04_089, ...]
Index: []

[0 rows x 139 columns]

N05

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N05_TUPA121-3, N05_001, N05_002, N05_003, N05_004, N05_005, N05_006, N05_007, N05_008, N05_009, N05_010, N05_011, N05_012, N05_013, N05_014, N05_015, N05_016, N05_017, N05_018, N05_019, N05_020, N05_021, N05_022, N05_023, N05_024, N05_025, N05_026, N05_027, N05_028, N05_029, N05_030, N05_031, N05_032, N05_033, N05_034, N05_035, N05_036, N05_037, N05_038, N05_039, N05_040, N05_041, N05_042, N05_043, N05_044, N05_045, N05_046, N05_047, N05_048, N05_049, N05_050, N05_051, N05_052, N05_053, N05_054, N05_055, N05_056, N05_057, N05_058, N05_059, N05_060, N05_061, N05_062, N05_063, N05_064, N05_065, N05_066, N05_067, N05_068, N05_069, N05_070, N05_071, N05_072, N05_073, N05_074, N05_075, N05_076, N05_077, N05_078, N05_079, N05_080, N05_081, N05_082, N05_083, N05_084, N05_085, N05_086, N05_087, N05_088, N05_089, ...]
Index: []

[0 rows x 216 columns]

N06

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N06_SURJAMUKHI, N06_001, N06_002, N06_003, N06_004, N06_005, N06_006, N06_007, N06_008, N06_009, N06_010, N06_011, N06_012, N06_013, N06_014, N06_015, N06_016, N06_017, N06_018, N06_019, N06_020, N06_021, N06_022, N06_023, N06_024, N06_025, N06_026, N06_027, N06_028, N06_029, N06_030, N06_031, N06_032, N06_033, N06_034, N06_035, N06_036, N06_037, N06_038, N06_039, N06_040, N06_041, N06_042, N06_043, N06_044, N06_045, N06_046, N06_047, N06_048, N06_049, N06_050, N06_051, N06_052, N06_053, N06_054, N06_055, N06_056, N06_057, N06_058, N06_059, N06_060, N06_061, N06_062, N06_063, N06_064, N06_065, N06_066, N06_067, N06_068, N06_069, N06_070, N06_071, N06_072, N06_073, N06_074, N06_075, N06_076, N06_077, N06_078, A_count, B_count, H_count]
Index: []

[0 rows x 92 columns]

N07

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,N00_HITOMEBORE,...,N07_058,N07_059,N07_060,N07_061,N07_062,N07_063,N07_064,A_count,B_count,H_count
203856,chr01,41314085,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203857,chr01,41314581,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203858,chr01,41314855,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203859,chr01,41314906,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203860,chr01,41314970,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203861,chr01,41314980,.,A,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203862,chr01,41315064,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203863,chr01,41315079,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203864,chr01,41315090,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203865,chr01,41315110,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203866,chr01,41315114,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203867,chr01,41315152,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203868,chr01,41315213,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203869,chr01,41315244,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203870,chr01,41315279,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203871,chr01,41315321,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203872,chr01,41315335,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203873,chr01,41315368,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203874,chr01,41315371,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203875,chr01,41315390,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203876,chr01,41315474,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203877,chr01,41315486,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203878,chr01,41315522,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203879,chr01,41315563,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203880,chr01,41315587,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203881,chr01,41315598,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203882,chr01,41315633,.,C,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203883,chr01,41315635,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203884,chr01,41315796,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
203885,chr01,41315799,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204510,chr01,41602507,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204511,chr01,41602643,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204512,chr01,41603165,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204513,chr01,41603268,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204514,chr01,41603329,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204515,chr01,41603416,.,A,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204516,chr01,41603439,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204517,chr01,41603799,.,C,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204518,chr01,41603890,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204519,chr01,41604457,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204520,chr01,41604459,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204521,chr01,41604539,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204522,chr01,41604594,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204523,chr01,41604974,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204524,chr01,41610726,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204525,chr01,41610921,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204526,chr01,41611097,.,C,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204527,chr01,41611189,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204528,chr01,41611217,.,G,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204529,chr01,41611411,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204530,chr01,41611618,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204531,chr01,41611695,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204532,chr01,41611850,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204533,chr01,41612386,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204534,chr01,41612493,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204535,chr01,41612806,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204536,chr01,41612904,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204537,chr01,41613234,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204538,chr01,41613245,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0
204539,chr01,41613350,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,64,0,0

N08

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,N00_HITOMEBORE,...,N08_078,N08_079,N08_082,N08_083,N08_084,N08_085,N08_086,A_count,B_count,H_count
203728,chr01,41301298,.,C,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203729,chr01,41301388,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203730,chr01,41302605,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203731,chr01,41303416,.,C,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203732,chr01,41303751,.,C,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203733,chr01,41303884,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203734,chr01,41304573,.,C,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203735,chr01,41304961,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203736,chr01,41305107,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203737,chr01,41305123,.,C,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203738,chr01,41305324,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203739,chr01,41305614,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203740,chr01,41306131,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203741,chr01,41306302,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203742,chr01,41306374,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203743,chr01,41306375,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203744,chr01,41307279,.,G,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203745,chr01,41308163,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203746,chr01,41308481,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203747,chr01,41308627,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203748,chr01,41308658,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203749,chr01,41308959,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203750,chr01,41309026,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203751,chr01,41309149,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203752,chr01,41309159,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203753,chr01,41310692,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203754,chr01,41310702,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203755,chr01,41310743,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203756,chr01,41311552,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
203757,chr01,41311658,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204160,chr01,41386716,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204161,chr01,41386790,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204162,chr01,41386839,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204163,chr01,41387029,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204164,chr01,41387218,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204165,chr01,41387384,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204166,chr01,41387390,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204167,chr01,41387447,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204168,chr01,41387517,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204169,chr01,41387702,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204170,chr01,41387708,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204171,chr01,41390017,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204172,chr01,41390133,.,A,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204173,chr01,41390318,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204174,chr01,41390636,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204175,chr01,41392318,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204176,chr01,41393177,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204177,chr01,41393224,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204178,chr01,41393247,.,A,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204179,chr01,41394577,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204180,chr01,41395205,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204181,chr01,41395412,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204182,chr01,41395536,.,C,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204183,chr01,41395680,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204184,chr01,41396242,.,C,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204185,chr01,41396262,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204186,chr01,41396845,.,T,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204187,chr01,41397014,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204188,chr01,41398520,.,G,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0
204189,chr01,41401920,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,79,0,0

N09

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N09_KALUHEENATI, N09_001, N09_002, N09_003, N09_004, N09_005, N09_006, N09_007, N09_008, N09_009, N09_010, N09_011, N09_012, N09_013, N09_014, N09_015, N09_016, N09_017, N09_018, N09_019, N09_020, N09_021, N09_022, N09_023, N09_025, N09_026, N09_027, N09_028, N09_029, N09_030, N09_031, N09_032, N09_033, N09_034, N09_035, N09_036, N09_037, N09_038, N09_039, N09_040, N09_041, N09_042, N09_043, N09_044, N09_045, N09_046, N09_047, N09_048, N09_049, N09_050, N09_051, N09_052, N09_053, N09_054, N09_055, N09_056, N09_057, N09_058, N09_059, N09_060, N09_061, N09_062, N09_063, N09_064, N09_065, N09_066, N09_067, N09_068, N09_069, N09_070, N09_071, N09_072, N09_073, N09_074, N09_075, N09_076, N09_077, N09_078, N09_079, N09_080, N09_081, N09_082, N09_083, N09_084, N09_085, N09_086, N09_087, N09_088, N09_090, N09_091, ...]
Index: []

[0 rows x 261 columns]

N10

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N10_JAGUARY, N10_001, N10_002, N10_003, N10_004, N10_005, N10_006, N10_007, N10_008, N10_009, N10_010, N10_011, N10_012, N10_013, N10_014, N10_015, N10_016, N10_017, N10_018, N10_019, N10_020, N10_021, N10_022, N10_023, N10_024, N10_025, N10_026, N10_027, N10_028, N10_029, N10_030, N10_031, N10_032, N10_033, N10_034, N10_035, N10_036, N10_037, N10_038, N10_039, N10_040, N10_041, N10_042, N10_043, N10_044, N10_045, N10_046, N10_047, N10_048, N10_049, N10_050, N10_051, N10_052, N10_053, N10_054, N10_055, N10_056, N10_057, N10_058, N10_059, N10_060, N10_061, N10_062, N10_063, N10_064, N10_065, N10_066, N10_067, N10_068, N10_069, N10_070, N10_071, N10_072, N10_073, N10_074, N10_075, N10_076, N10_077, N10_078, N10_079, N10_080, N10_081, N10_082, N10_083, N10_084, N10_085, N10_086, N10_087, N10_088, N10_089, ...]
Index: []

[0 rows x 160 columns]

N11

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N11_REXMONT, N11_001, N11_002, N11_003, N11_004, N11_005, N11_006, N11_007, N11_008, N11_009, N11_010, N11_011, N11_012, N11_013, N11_014, N11_015, N11_016, N11_017, N11_018, N11_019, N11_020, N11_021, N11_022, N11_023, N11_024, N11_025, N11_026, N11_027, N11_028, N11_029, N11_030, N11_031, N11_032, N11_033, N11_034, N11_035, N11_036, N11_037, N11_038, N11_039, N11_040, N11_041, N11_042, N11_043, N11_044, N11_045, N11_046, N11_047, N11_048, N11_049, N11_050, N11_051, N11_052, N11_053, N11_054, N11_055, N11_056, N11_057, N11_058, N11_059, N11_060, N11_061, N11_062, N11_063, N11_064, N11_065, N11_066, N11_067, N11_068, N11_069, N11_070, N11_071, N11_072, N11_073, N11_074, N11_075, N11_076, N11_077, N11_078, N11_079, N11_080, N11_081, N11_082, N11_083, N11_084, N11_085, N11_086, N11_087, N11_088, N11_089, ...]
Index: []

[0 rows x 201 columns]

N12

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N12_URASAN, N12_001, N12_002, N12_003, N12_004, N12_005, N12_006, N12_007, N12_008, N12_009, N12_010, N12_011, N12_012, N12_013, N12_014, N12_015, N12_016, N12_017, N12_018, N12_019, N12_020, N12_021, N12_022, N12_023, N12_024, N12_025, N12_026, N12_027, N12_028, N12_029, N12_031, N12_032, N12_034, N12_035, N12_036, N12_037, N12_038, N12_039, N12_040, N12_041, N12_042, N12_043, N12_045, N12_046, N12_047, N12_048, N12_049, N12_050, N12_051, N12_052, N12_053, N12_054, N12_055, N12_056, N12_057, N12_058, N12_059, N12_060, N12_061, N12_062, N12_063, N12_064, N12_065, N12_067, N12_068, N12_069, N12_071, N12_072, N12_073, N12_074, N12_075, N12_077, N12_078, N12_079, N12_080, N12_081, N12_082, N12_083, N12_084, N12_085, N12_086, N12_087, N12_088, N12_089, N12_090, N12_091, N12_092, N12_093, N12_094, N12_095, ...]
Index: []

[0 rows x 155 columns]

N13

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N13_TUPA729, N13_001, N13_002, N13_003, N13_004, N13_005, N13_006, N13_007, N13_008, N13_009, N13_010, N13_011, N13_012, N13_013, N13_014, N13_016, N13_017, N13_018, N13_019, N13_020, N13_021, N13_022, N13_023, N13_024, N13_025, N13_026, N13_027, N13_028, N13_029, N13_030, N13_031, N13_032, N13_033, N13_034, N13_035, N13_036, N13_037, N13_038, N13_039, N13_040, N13_041, N13_042, N13_043, N13_044, N13_045, N13_046, N13_047, N13_048, N13_049, N13_050, N13_051, N13_052, N13_053, N13_054, N13_055, N13_056, N13_057, N13_058, N13_059, N13_060, N13_061, N13_062, N13_063, N13_064, N13_065, N13_066, N13_067, N13_068, N13_069, N13_070, N13_071, N13_072, N13_073, N13_074, N13_075, N13_076, N13_077, N13_078, N13_079, N13_080, N13_081, N13_082, N13_083, N13_084, N13_085, N13_086, N13_087, N13_088, A_count, B_count, ...]
Index: []

[0 rows x 101 columns]

N14

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N14_DEEJIAOHUALUO, N14_001, N14_003, N14_004, N14_006, N14_007, N14_008, N14_009, N14_010, N14_011, N14_012, N14_013, N14_014, N14_015, N14_017, N14_018, N14_019, N14_020, N14_021, N14_022, N14_023, N14_024, N14_025, N14_026, N14_027, N14_028, N14_030, N14_031, A_count, B_count, H_count]
Index: []

[0 rows x 41 columns]

N16

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,N00_HITOMEBORE,...,N16_035,N16_036,N16_037,N16_039,N16_040,N16_042,N16_044,A_count,B_count,H_count
24959,chr01,18470379,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24960,chr01,18474791,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24961,chr01,18482824,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24962,chr01,18488958,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24963,chr01,18491896,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24964,chr01,18494101,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24965,chr01,18496726,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24966,chr01,18496781,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24967,chr01,18502721,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24968,chr01,18505492,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24969,chr01,18505528,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24970,chr01,18505593,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24971,chr01,18505708,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24972,chr01,18505749,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24973,chr01,18505798,.,A,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24974,chr01,18505870,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24975,chr01,18518070,.,T,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24976,chr01,18518240,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24977,chr01,18518539,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24978,chr01,18518687,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24979,chr01,18519159,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24980,chr01,18519167,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24981,chr01,18519315,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24982,chr01,18519959,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24983,chr01,18520047,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24984,chr01,18520289,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24985,chr01,18520381,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24986,chr01,18520643,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24987,chr01,18522335,.,T,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
24988,chr01,18522483,.,A,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596759,chr11,27393770,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596760,chr11,27393794,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596761,chr11,27393804,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596762,chr11,27394044,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596763,chr11,27394248,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596764,chr11,27394356,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596765,chr11,27394502,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596766,chr11,27394655,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596767,chr11,27394674,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596768,chr11,27394814,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596769,chr11,27394890,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596770,chr11,27394905,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596771,chr11,27394944,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596772,chr11,27394990,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596773,chr11,27395063,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596774,chr11,27395125,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596775,chr11,27395198,.,C,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596776,chr11,27395569,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596777,chr11,27395605,.,G,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596778,chr11,27397473,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596779,chr11,27398015,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596780,chr11,27398188,.,G,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596781,chr11,27398266,.,T,C,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596782,chr11,27401267,.,C,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596783,chr11,27401297,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596784,chr11,27401860,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596785,chr11,27402332,.,C,T,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596786,chr11,27402753,.,T,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596787,chr11,27403356,.,A,G,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0
596788,chr11,27403636,.,C,A,.,PASS,.,GT,A,...,A,A,A,A,A,A,A,38,0,0

N17

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N17_TAKANARI, N17_001, N17_002, N17_003, N17_004, N17_005, N17_006, N17_007, N17_008, N17_009, N17_010, N17_011, N17_012, N17_013, N17_014, N17_015, N17_016, N17_017, N17_018, N17_019, N17_020, N17_021, N17_022, N17_023, N17_024, N17_025, N17_026, N17_027, N17_028, N17_029, N17_030, N17_031, N17_032, N17_033, N17_034, N17_035, N17_036, N17_037, N17_038, N17_039, N17_040, N17_041, N17_042, N17_043, N17_044, N17_045, N17_046, N17_047, N17_048, N17_049, N17_050, N17_051, N17_052, N17_053, N17_054, N17_055, N17_056, N17_057, N17_058, N17_059, N17_060, N17_061, N17_062, N17_063, N17_064, N17_065, N17_066, N17_067, N17_068, N17_069, N17_070, N17_071, N17_072, N17_073, N17_074, N17_075, N17_076, N17_077, N17_078, N17_079, N17_080, N17_081, N17_082, N17_083, N17_084, N17_085, N17_086, N17_087, N17_088, N17_089, ...]
Index: []

[0 rows x 153 columns]

N18

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N18_C8005, N18_001, N18_002, N18_003, N18_004, N18_005, N18_006, N18_007, N18_008, N18_009, N18_010, N18_011, N18_012, N18_013, N18_014, N18_015, N18_016, N18_017, N18_018, N18_019, N18_020, N18_021, N18_022, N18_023, N18_024, N18_025, N18_026, N18_027, N18_028, N18_029, N18_030, N18_031, N18_032, N18_033, N18_034, N18_035, N18_036, N18_037, N18_038, N18_039, N18_040, N18_041, N18_042, N18_043, N18_044, N18_045, N18_046, N18_047, N18_048, N18_049, N18_050, N18_051, N18_052, N18_053, N18_054, N18_055, N18_056, N18_057, N18_058, N18_059, N18_060, N18_061, N18_062, N18_063, N18_064, N18_065, N18_066, N18_067, N18_068, N18_069, N18_070, N18_071, N18_072, N18_073, N18_074, N18_075, N18_076, N18_077, N18_078, N18_079, N18_080, N18_081, N18_082, N18_083, N18_084, N18_085, N18_086, N18_087, N18_088, N18_089, ...]
Index: []

[0 rows x 264 columns]

N19

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N19_MOUKOTOU, N19_001, N19_002, N19_003, N19_005, N19_006, N19_007, N19_008, N19_009, N19_010, N19_011, N19_012, N19_013, N19_014, N19_015, N19_016, N19_017, N19_018, N19_019, N19_020, N19_021, N19_022, N19_023, N19_024, N19_025, N19_026, N19_027, N19_028, N19_029, N19_030, N19_031, N19_032, N19_033, N19_034, N19_035, N19_036, N19_037, N19_038, N19_039, N19_040, N19_041, N19_042, N19_043, N19_044, N19_045, N19_046, N19_047, N19_048, N19_049, N19_050, N19_051, N19_052, N19_053, N19_054, N19_055, N19_056, N19_057, N19_058, N19_059, N19_060, N19_061, N19_062, N19_063, N19_064, N19_065, N19_066, N19_067, N19_068, N19_069, N19_070, N19_071, N19_072, N19_073, N19_074, N19_075, N19_076, N19_077, N19_078, N19_079, N19_080, N19_081, N19_082, N19_083, N19_084, N19_085, N19_086, N19_087, N19_088, N19_089, N19_090, ...]
Index: []

[0 rows x 263 columns]

N20

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N20_NORTAI, N20_001, N20_002, N20_003, N20_004, N20_005, N20_006, N20_007, N20_008, N20_009, N20_010, N20_011, N20_012, N20_013, N20_014, N20_015, N20_016, N20_017, N20_018, N20_019, N20_020, N20_021, N20_022, N20_023, N20_024, N20_025, N20_026, N20_027, N20_028, N20_029, N20_030, N20_031, N20_032, N20_033, N20_034, N20_035, N20_036, N20_037, N20_038, N20_039, N20_040, N20_041, N20_042, N20_043, N20_044, N20_045, N20_046, N20_047, N20_048, N20_049, N20_050, N20_051, N20_052, N20_053, N20_054, N20_055, N20_056, N20_057, N20_058, N20_059, N20_060, N20_061, N20_062, N20_063, N20_064, N20_065, N20_066, N20_067, N20_068, N20_069, N20_070, N20_071, N20_072, N20_073, N20_074, N20_075, N20_076, N20_077, N20_078, N20_079, N20_080, N20_081, N20_082, N20_083, N20_084, N20_085, N20_086, N20_087, N20_088, N20_089, ...]
Index: []

[0 rows x 258 columns]

N21

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N21_SESIA, N21_001, N21_002, N21_003, N21_004, N21_005, N21_006, N21_007, N21_008, N21_009, N21_010, N21_011, N21_012, N21_013, N21_014, N21_015, N21_016, N21_017, N21_018, N21_019, N21_020, N21_021, N21_022, N21_023, N21_024, N21_025, N21_026, N21_027, N21_028, N21_029, N21_030, N21_031, N21_032, N21_033, N21_034, N21_035, N21_036, N21_037, N21_038, N21_039, N21_040, N21_041, N21_042, N21_043, N21_044, N21_045, N21_046, N21_047, N21_048, N21_049, N21_050, N21_051, N21_052, N21_053, N21_054, N21_055, N21_056, N21_057, N21_058, N21_059, N21_060, N21_061, N21_062, N21_063, N21_064, N21_065, N21_066, N21_067, N21_068, N21_069, N21_070, N21_071, N21_072, N21_073, N21_074, N21_075, N21_076, N21_077, N21_078, N21_079, N21_080, N21_081, N21_082, N21_083, N21_084, N21_085, N21_086, N21_087, N21_088, N21_089, ...]
Index: []

[0 rows x 264 columns]

N22

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N22_HAYAYUKI, N22_001, N22_002, N22_003, N22_004, N22_005, N22_006, N22_007, N22_008, N22_009, N22_010, N22_011, N22_012, N22_013, N22_014, N22_015, N22_016, N22_017, N22_018, N22_019, N22_020, N22_021, N22_022, N22_023, N22_024, N22_025, N22_026, N22_027, N22_028, N22_029, N22_030, N22_031, N22_032, N22_033, N22_034, N22_035, N22_036, N22_037, N22_038, N22_039, N22_040, N22_041, N22_043, N22_044, N22_045, N22_046, N22_047, N22_048, N22_049, N22_050, N22_051, N22_052, N22_053, N22_054, N22_056, N22_057, N22_058, N22_059, N22_060, N22_061, N22_062, N22_063, N22_064, N22_065, N22_066, N22_067, N22_068, N22_070, N22_071, N22_072, N22_073, N22_074, N22_075, N22_076, N22_077, N22_078, N22_079, N22_080, N22_081, N22_082, N22_083, N22_084, N22_085, N22_086, N22_087, N22_088, N22_089, N22_090, N22_091, N22_092, ...]
Index: []

[0 rows x 257 columns]

In [42]:
# Where is a locus homo for the founder for all samples in a founder
for key in samples:
    print('{}'.format(key))
    tmp = agg_dfs[key].loc[(agg_dfs[key].A_count == 0) & (agg_dfs[key].H_count == 0), :]
    tmp.to_csv('./conserved_genotypes/Only_founder_{}.tsv'.format(key), sep='\t', index=None)
    display(tmp)

N01

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N01_KASALATH, N01_001, N01_002, N01_003, N01_004, N01_005, N01_006, N01_007, N01_008, N01_009, N01_010, N01_011, N01_012, N01_013, N01_014, N01_015, N01_016, N01_017, N01_018, N01_019, N01_020, N01_021, N01_022, N01_023, N01_024, N01_025, N01_026, N01_027, N01_028, N01_029, N01_030, N01_031, N01_032, N01_033, N01_034, N01_035, N01_036, N01_037, N01_038, N01_039, N01_040, N01_041, N01_042, N01_043, N01_044, N01_045, N01_046, N01_047, N01_048, N01_049, N01_050, N01_051, N01_052, N01_053, N01_054, N01_055, N01_056, N01_057, N01_058, N01_059, N01_060, N01_061, N01_062, N01_063, N01_064, N01_065, N01_066, N01_067, N01_068, N01_069, N01_070, N01_071, N01_072, N01_073, N01_074, N01_075, N01_076, N01_077, N01_078, N01_079, N01_080, N01_081, N01_082, N01_083, N01_084, N01_085, N01_086, N01_087, N01_088, N01_089, ...]
Index: []

[0 rows x 185 columns]

N03

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N03_KEIBOBA, N03_001, N03_002, N03_003, N03_004, N03_005, N03_006, N03_008, N03_009, N03_010, N03_011, N03_012, N03_013, N03_014, N03_015, N03_016, N03_017, N03_018, N03_019, N03_020, N03_021, N03_023, N03_024, N03_025, N03_026, N03_027, N03_028, N03_029, N03_030, N03_031, N03_032, N03_033, N03_034, N03_035, N03_036, N03_037, N03_038, N03_039, N03_040, N03_041, N03_042, N03_043, N03_044, N03_045, N03_046, N03_047, N03_048, N03_049, N03_050, N03_051, N03_052, N03_053, N03_054, N03_055, N03_056, N03_057, N03_058, N03_059, N03_060, N03_061, N03_062, N03_063, N03_064, N03_065, N03_066, N03_067, N03_068, N03_069, N03_070, N03_071, N03_072, N03_073, N03_074, N03_076, N03_077, N03_078, N03_079, N03_080, A_count, B_count, H_count]
Index: []

[0 rows x 91 columns]

N04

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N04_SHONI, N04_001, N04_002, N04_003, N04_004, N04_005, N04_006, N04_007, N04_008, N04_009, N04_010, N04_011, N04_012, N04_013, N04_014, N04_015, N04_016, N04_017, N04_018, N04_019, N04_020, N04_021, N04_022, N04_023, N04_024, N04_025, N04_026, N04_027, N04_028, N04_029, N04_030, N04_031, N04_032, N04_033, N04_034, N04_035, N04_036, N04_037, N04_038, N04_039, N04_040, N04_041, N04_042, N04_043, N04_044, N04_045, N04_046, N04_047, N04_048, N04_049, N04_050, N04_051, N04_052, N04_053, N04_054, N04_055, N04_056, N04_057, N04_058, N04_059, N04_060, N04_061, N04_062, N04_063, N04_064, N04_065, N04_066, N04_067, N04_068, N04_069, N04_070, N04_071, N04_072, N04_073, N04_074, N04_075, N04_076, N04_077, N04_078, N04_079, N04_080, N04_081, N04_082, N04_083, N04_084, N04_085, N04_086, N04_087, N04_088, N04_089, ...]
Index: []

[0 rows x 139 columns]

N05

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N05_TUPA121-3, N05_001, N05_002, N05_003, N05_004, N05_005, N05_006, N05_007, N05_008, N05_009, N05_010, N05_011, N05_012, N05_013, N05_014, N05_015, N05_016, N05_017, N05_018, N05_019, N05_020, N05_021, N05_022, N05_023, N05_024, N05_025, N05_026, N05_027, N05_028, N05_029, N05_030, N05_031, N05_032, N05_033, N05_034, N05_035, N05_036, N05_037, N05_038, N05_039, N05_040, N05_041, N05_042, N05_043, N05_044, N05_045, N05_046, N05_047, N05_048, N05_049, N05_050, N05_051, N05_052, N05_053, N05_054, N05_055, N05_056, N05_057, N05_058, N05_059, N05_060, N05_061, N05_062, N05_063, N05_064, N05_065, N05_066, N05_067, N05_068, N05_069, N05_070, N05_071, N05_072, N05_073, N05_074, N05_075, N05_076, N05_077, N05_078, N05_079, N05_080, N05_081, N05_082, N05_083, N05_084, N05_085, N05_086, N05_087, N05_088, N05_089, ...]
Index: []

[0 rows x 216 columns]

N06

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N06_SURJAMUKHI, N06_001, N06_002, N06_003, N06_004, N06_005, N06_006, N06_007, N06_008, N06_009, N06_010, N06_011, N06_012, N06_013, N06_014, N06_015, N06_016, N06_017, N06_018, N06_019, N06_020, N06_021, N06_022, N06_023, N06_024, N06_025, N06_026, N06_027, N06_028, N06_029, N06_030, N06_031, N06_032, N06_033, N06_034, N06_035, N06_036, N06_037, N06_038, N06_039, N06_040, N06_041, N06_042, N06_043, N06_044, N06_045, N06_046, N06_047, N06_048, N06_049, N06_050, N06_051, N06_052, N06_053, N06_054, N06_055, N06_056, N06_057, N06_058, N06_059, N06_060, N06_061, N06_062, N06_063, N06_064, N06_065, N06_066, N06_067, N06_068, N06_069, N06_070, N06_071, N06_072, N06_073, N06_074, N06_075, N06_076, N06_077, N06_078, A_count, B_count, H_count]
Index: []

[0 rows x 92 columns]

N07

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N07_RATUL, N07_001, N07_002, N07_003, N07_004, N07_005, N07_006, N07_007, N07_008, N07_009, N07_010, N07_011, N07_012, N07_013, N07_014, N07_015, N07_016, N07_017, N07_018, N07_019, N07_020, N07_021, N07_022, N07_023, N07_024, N07_025, N07_026, N07_027, N07_028, N07_029, N07_030, N07_031, N07_032, N07_033, N07_034, N07_035, N07_036, N07_037, N07_038, N07_039, N07_040, N07_041, N07_042, N07_043, N07_044, N07_045, N07_046, N07_047, N07_048, N07_049, N07_050, N07_051, N07_052, N07_053, N07_054, N07_055, N07_056, N07_057, N07_058, N07_059, N07_060, N07_061, N07_062, N07_063, N07_064, A_count, B_count, H_count]
Index: []

[0 rows x 78 columns]

N08

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N08_BADARI_DHAN, N08_001, N08_002, N08_003, N08_004, N08_005, N08_006, N08_007, N08_008, N08_009, N08_010, N08_011, N08_012, N08_013, N08_014, N08_015, N08_016, N08_017, N08_018, N08_019, N08_020, N08_021, N08_022, N08_023, N08_024, N08_025, N08_026, N08_027, N08_028, N08_029, N08_030, N08_031, N08_032, N08_033, N08_034, N08_035, N08_036, N08_037, N08_038, N08_039, N08_040, N08_041, N08_043, N08_044, N08_045, N08_046, N08_047, N08_048, N08_049, N08_050, N08_051, N08_052, N08_053, N08_054, N08_055, N08_056, N08_057, N08_058, N08_059, N08_061, N08_062, N08_063, N08_064, N08_065, N08_066, N08_067, N08_068, N08_069, N08_071, N08_072, N08_073, N08_074, N08_075, N08_078, N08_079, N08_082, N08_083, N08_084, N08_085, N08_086, A_count, B_count, H_count]
Index: []

[0 rows x 93 columns]

N09

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N09_KALUHEENATI, N09_001, N09_002, N09_003, N09_004, N09_005, N09_006, N09_007, N09_008, N09_009, N09_010, N09_011, N09_012, N09_013, N09_014, N09_015, N09_016, N09_017, N09_018, N09_019, N09_020, N09_021, N09_022, N09_023, N09_025, N09_026, N09_027, N09_028, N09_029, N09_030, N09_031, N09_032, N09_033, N09_034, N09_035, N09_036, N09_037, N09_038, N09_039, N09_040, N09_041, N09_042, N09_043, N09_044, N09_045, N09_046, N09_047, N09_048, N09_049, N09_050, N09_051, N09_052, N09_053, N09_054, N09_055, N09_056, N09_057, N09_058, N09_059, N09_060, N09_061, N09_062, N09_063, N09_064, N09_065, N09_066, N09_067, N09_068, N09_069, N09_070, N09_071, N09_072, N09_073, N09_074, N09_075, N09_076, N09_077, N09_078, N09_079, N09_080, N09_081, N09_082, N09_083, N09_084, N09_085, N09_086, N09_087, N09_088, N09_090, N09_091, ...]
Index: []

[0 rows x 261 columns]

N10

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N10_JAGUARY, N10_001, N10_002, N10_003, N10_004, N10_005, N10_006, N10_007, N10_008, N10_009, N10_010, N10_011, N10_012, N10_013, N10_014, N10_015, N10_016, N10_017, N10_018, N10_019, N10_020, N10_021, N10_022, N10_023, N10_024, N10_025, N10_026, N10_027, N10_028, N10_029, N10_030, N10_031, N10_032, N10_033, N10_034, N10_035, N10_036, N10_037, N10_038, N10_039, N10_040, N10_041, N10_042, N10_043, N10_044, N10_045, N10_046, N10_047, N10_048, N10_049, N10_050, N10_051, N10_052, N10_053, N10_054, N10_055, N10_056, N10_057, N10_058, N10_059, N10_060, N10_061, N10_062, N10_063, N10_064, N10_065, N10_066, N10_067, N10_068, N10_069, N10_070, N10_071, N10_072, N10_073, N10_074, N10_075, N10_076, N10_077, N10_078, N10_079, N10_080, N10_081, N10_082, N10_083, N10_084, N10_085, N10_086, N10_087, N10_088, N10_089, ...]
Index: []

[0 rows x 160 columns]

N11

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N11_REXMONT, N11_001, N11_002, N11_003, N11_004, N11_005, N11_006, N11_007, N11_008, N11_009, N11_010, N11_011, N11_012, N11_013, N11_014, N11_015, N11_016, N11_017, N11_018, N11_019, N11_020, N11_021, N11_022, N11_023, N11_024, N11_025, N11_026, N11_027, N11_028, N11_029, N11_030, N11_031, N11_032, N11_033, N11_034, N11_035, N11_036, N11_037, N11_038, N11_039, N11_040, N11_041, N11_042, N11_043, N11_044, N11_045, N11_046, N11_047, N11_048, N11_049, N11_050, N11_051, N11_052, N11_053, N11_054, N11_055, N11_056, N11_057, N11_058, N11_059, N11_060, N11_061, N11_062, N11_063, N11_064, N11_065, N11_066, N11_067, N11_068, N11_069, N11_070, N11_071, N11_072, N11_073, N11_074, N11_075, N11_076, N11_077, N11_078, N11_079, N11_080, N11_081, N11_082, N11_083, N11_084, N11_085, N11_086, N11_087, N11_088, N11_089, ...]
Index: []

[0 rows x 201 columns]

N12

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N12_URASAN, N12_001, N12_002, N12_003, N12_004, N12_005, N12_006, N12_007, N12_008, N12_009, N12_010, N12_011, N12_012, N12_013, N12_014, N12_015, N12_016, N12_017, N12_018, N12_019, N12_020, N12_021, N12_022, N12_023, N12_024, N12_025, N12_026, N12_027, N12_028, N12_029, N12_031, N12_032, N12_034, N12_035, N12_036, N12_037, N12_038, N12_039, N12_040, N12_041, N12_042, N12_043, N12_045, N12_046, N12_047, N12_048, N12_049, N12_050, N12_051, N12_052, N12_053, N12_054, N12_055, N12_056, N12_057, N12_058, N12_059, N12_060, N12_061, N12_062, N12_063, N12_064, N12_065, N12_067, N12_068, N12_069, N12_071, N12_072, N12_073, N12_074, N12_075, N12_077, N12_078, N12_079, N12_080, N12_081, N12_082, N12_083, N12_084, N12_085, N12_086, N12_087, N12_088, N12_089, N12_090, N12_091, N12_092, N12_093, N12_094, N12_095, ...]
Index: []

[0 rows x 155 columns]

N13

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N13_TUPA729, N13_001, N13_002, N13_003, N13_004, N13_005, N13_006, N13_007, N13_008, N13_009, N13_010, N13_011, N13_012, N13_013, N13_014, N13_016, N13_017, N13_018, N13_019, N13_020, N13_021, N13_022, N13_023, N13_024, N13_025, N13_026, N13_027, N13_028, N13_029, N13_030, N13_031, N13_032, N13_033, N13_034, N13_035, N13_036, N13_037, N13_038, N13_039, N13_040, N13_041, N13_042, N13_043, N13_044, N13_045, N13_046, N13_047, N13_048, N13_049, N13_050, N13_051, N13_052, N13_053, N13_054, N13_055, N13_056, N13_057, N13_058, N13_059, N13_060, N13_061, N13_062, N13_063, N13_064, N13_065, N13_066, N13_067, N13_068, N13_069, N13_070, N13_071, N13_072, N13_073, N13_074, N13_075, N13_076, N13_077, N13_078, N13_079, N13_080, N13_081, N13_082, N13_083, N13_084, N13_085, N13_086, N13_087, N13_088, A_count, B_count, ...]
Index: []

[0 rows x 101 columns]

N14

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,N00_HITOMEBORE,...,N14_024,N14_025,N14_026,N14_027,N14_028,N14_030,N14_031,A_count,B_count,H_count
115633,chr01,25378966,.,T,C,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
925775,chr07,1492695,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
925779,chr07,1497717,.,G,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
925782,chr07,1499382,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926480,chr07,1636857,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926489,chr07,1687843,.,G,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926529,chr07,1698245,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926531,chr07,1698911,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926532,chr07,1699012,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926533,chr07,1699097,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926534,chr07,1699129,.,A,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
926535,chr07,1699130,.,C,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188306,chr09,9786119,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188338,chr09,9824937,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188339,chr09,9825050,.,T,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188348,chr09,9842090,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188349,chr09,9857156,.,C,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188350,chr09,9857159,.,A,G,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188351,chr09,9910892,.,C,G,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188352,chr09,9910913,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188353,chr09,9910937,.,C,G,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188354,chr09,9910942,.,C,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188357,chr09,9935892,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1188360,chr09,9979809,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0
1192362,chr09,11768290,.,G,C,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,27,0

N16

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,N00_HITOMEBORE,...,N16_035,N16_036,N16_037,N16_039,N16_040,N16_042,N16_044,A_count,B_count,H_count
603650,chr12,5850503,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603651,chr12,5850547,.,G,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603652,chr12,5850566,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603653,chr12,5851139,.,A,G,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603654,chr12,5851327,.,A,G,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603660,chr12,5855654,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603663,chr12,5890797,.,T,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603664,chr12,5891303,.,C,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603665,chr12,5891517,.,T,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603666,chr12,5894685,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603677,chr12,6206274,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603686,chr12,6215602,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603687,chr12,6215643,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603688,chr12,6215741,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603700,chr12,6216894,.,T,C,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603701,chr12,6217308,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603717,chr12,6220441,.,G,C,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603725,chr12,6230097,.,G,C,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603726,chr12,6231154,.,C,G,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603733,chr12,6232355,.,G,A,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603734,chr12,6235017,.,T,C,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0
603740,chr12,6244845,.,C,T,.,PASS,.,GT,A,...,B,B,B,B,B,B,B,0,38,0

N17

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N17_TAKANARI, N17_001, N17_002, N17_003, N17_004, N17_005, N17_006, N17_007, N17_008, N17_009, N17_010, N17_011, N17_012, N17_013, N17_014, N17_015, N17_016, N17_017, N17_018, N17_019, N17_020, N17_021, N17_022, N17_023, N17_024, N17_025, N17_026, N17_027, N17_028, N17_029, N17_030, N17_031, N17_032, N17_033, N17_034, N17_035, N17_036, N17_037, N17_038, N17_039, N17_040, N17_041, N17_042, N17_043, N17_044, N17_045, N17_046, N17_047, N17_048, N17_049, N17_050, N17_051, N17_052, N17_053, N17_054, N17_055, N17_056, N17_057, N17_058, N17_059, N17_060, N17_061, N17_062, N17_063, N17_064, N17_065, N17_066, N17_067, N17_068, N17_069, N17_070, N17_071, N17_072, N17_073, N17_074, N17_075, N17_076, N17_077, N17_078, N17_079, N17_080, N17_081, N17_082, N17_083, N17_084, N17_085, N17_086, N17_087, N17_088, N17_089, ...]
Index: []

[0 rows x 153 columns]

N18

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N18_C8005, N18_001, N18_002, N18_003, N18_004, N18_005, N18_006, N18_007, N18_008, N18_009, N18_010, N18_011, N18_012, N18_013, N18_014, N18_015, N18_016, N18_017, N18_018, N18_019, N18_020, N18_021, N18_022, N18_023, N18_024, N18_025, N18_026, N18_027, N18_028, N18_029, N18_030, N18_031, N18_032, N18_033, N18_034, N18_035, N18_036, N18_037, N18_038, N18_039, N18_040, N18_041, N18_042, N18_043, N18_044, N18_045, N18_046, N18_047, N18_048, N18_049, N18_050, N18_051, N18_052, N18_053, N18_054, N18_055, N18_056, N18_057, N18_058, N18_059, N18_060, N18_061, N18_062, N18_063, N18_064, N18_065, N18_066, N18_067, N18_068, N18_069, N18_070, N18_071, N18_072, N18_073, N18_074, N18_075, N18_076, N18_077, N18_078, N18_079, N18_080, N18_081, N18_082, N18_083, N18_084, N18_085, N18_086, N18_087, N18_088, N18_089, ...]
Index: []

[0 rows x 264 columns]

N19

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N19_MOUKOTOU, N19_001, N19_002, N19_003, N19_005, N19_006, N19_007, N19_008, N19_009, N19_010, N19_011, N19_012, N19_013, N19_014, N19_015, N19_016, N19_017, N19_018, N19_019, N19_020, N19_021, N19_022, N19_023, N19_024, N19_025, N19_026, N19_027, N19_028, N19_029, N19_030, N19_031, N19_032, N19_033, N19_034, N19_035, N19_036, N19_037, N19_038, N19_039, N19_040, N19_041, N19_042, N19_043, N19_044, N19_045, N19_046, N19_047, N19_048, N19_049, N19_050, N19_051, N19_052, N19_053, N19_054, N19_055, N19_056, N19_057, N19_058, N19_059, N19_060, N19_061, N19_062, N19_063, N19_064, N19_065, N19_066, N19_067, N19_068, N19_069, N19_070, N19_071, N19_072, N19_073, N19_074, N19_075, N19_076, N19_077, N19_078, N19_079, N19_080, N19_081, N19_082, N19_083, N19_084, N19_085, N19_086, N19_087, N19_088, N19_089, N19_090, ...]
Index: []

[0 rows x 263 columns]

N20

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N20_NORTAI, N20_001, N20_002, N20_003, N20_004, N20_005, N20_006, N20_007, N20_008, N20_009, N20_010, N20_011, N20_012, N20_013, N20_014, N20_015, N20_016, N20_017, N20_018, N20_019, N20_020, N20_021, N20_022, N20_023, N20_024, N20_025, N20_026, N20_027, N20_028, N20_029, N20_030, N20_031, N20_032, N20_033, N20_034, N20_035, N20_036, N20_037, N20_038, N20_039, N20_040, N20_041, N20_042, N20_043, N20_044, N20_045, N20_046, N20_047, N20_048, N20_049, N20_050, N20_051, N20_052, N20_053, N20_054, N20_055, N20_056, N20_057, N20_058, N20_059, N20_060, N20_061, N20_062, N20_063, N20_064, N20_065, N20_066, N20_067, N20_068, N20_069, N20_070, N20_071, N20_072, N20_073, N20_074, N20_075, N20_076, N20_077, N20_078, N20_079, N20_080, N20_081, N20_082, N20_083, N20_084, N20_085, N20_086, N20_087, N20_088, N20_089, ...]
Index: []

[0 rows x 258 columns]

N21

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N21_SESIA, N21_001, N21_002, N21_003, N21_004, N21_005, N21_006, N21_007, N21_008, N21_009, N21_010, N21_011, N21_012, N21_013, N21_014, N21_015, N21_016, N21_017, N21_018, N21_019, N21_020, N21_021, N21_022, N21_023, N21_024, N21_025, N21_026, N21_027, N21_028, N21_029, N21_030, N21_031, N21_032, N21_033, N21_034, N21_035, N21_036, N21_037, N21_038, N21_039, N21_040, N21_041, N21_042, N21_043, N21_044, N21_045, N21_046, N21_047, N21_048, N21_049, N21_050, N21_051, N21_052, N21_053, N21_054, N21_055, N21_056, N21_057, N21_058, N21_059, N21_060, N21_061, N21_062, N21_063, N21_064, N21_065, N21_066, N21_067, N21_068, N21_069, N21_070, N21_071, N21_072, N21_073, N21_074, N21_075, N21_076, N21_077, N21_078, N21_079, N21_080, N21_081, N21_082, N21_083, N21_084, N21_085, N21_086, N21_087, N21_088, N21_089, ...]
Index: []

[0 rows x 264 columns]

N22

Empty DataFrame
Columns: [CHROM, POS, ID, REF, ALT, QUAL, FILTER, INFO, FORMAT, N00_HITOMEBORE, N22_HAYAYUKI, N22_001, N22_002, N22_003, N22_004, N22_005, N22_006, N22_007, N22_008, N22_009, N22_010, N22_011, N22_012, N22_013, N22_014, N22_015, N22_016, N22_017, N22_018, N22_019, N22_020, N22_021, N22_022, N22_023, N22_024, N22_025, N22_026, N22_027, N22_028, N22_029, N22_030, N22_031, N22_032, N22_033, N22_034, N22_035, N22_036, N22_037, N22_038, N22_039, N22_040, N22_041, N22_043, N22_044, N22_045, N22_046, N22_047, N22_048, N22_049, N22_050, N22_051, N22_052, N22_053, N22_054, N22_056, N22_057, N22_058, N22_059, N22_060, N22_061, N22_062, N22_063, N22_064, N22_065, N22_066, N22_067, N22_068, N22_070, N22_071, N22_072, N22_073, N22_074, N22_075, N22_076, N22_077, N22_078, N22_079, N22_080, N22_081, N22_082, N22_083, N22_084, N22_085, N22_086, N22_087, N22_088, N22_089, N22_090, N22_091, N22_092, ...]
Index: []

[0 rows x 257 columns]